.header-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
  border: none;
  background-color: white;
  background-image: url("https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg?im_w=960");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  position: relative;
}

@media only screen and (max-width: 1070px) {
  .header-container {
    height: 800px;
    background-image: url("https://a0.muscache.com/im/pictures/57b9f708-bb12-498c-bc33-769f8fc43e63.jpg?im_w=720");
  }
}
