.header-container {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 600px;
  border: 1px solid black;
  background-color: white;
  background-image: url("../images/Sample.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
