/* .DayPicker__withBorder {
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid blue;
  width: 940px !important;
  height: 500px !important;
} */
.DayPicker__hidden {
  visibility: visible;
}
/* .DayPicker_transitionContainer {
  height: 500px !important;
  width: 940px !important;
  border: 1px solid blue !important;
}

.CalendarMonth_table {
  width: 400px;
  border: 3px solid red !important;
}
.CalendarMonth_caption {
  border: 3px solid blueviolet !important;
}

.DayPicker_weekHeader_ul{
    width: 500px;
}

.DayPicker_weekHeader_li {
  width: 50px !important;
} */
